@import "settings";

@import "normalize";

@import "foundation";

html, body {
  height: 100%;
}

input[type="checkbox"] {
  margin: 0;
}

.entel-side-nav {
  @include side-nav;
  li {
    padding: 0;
    text-align: right;
    -moz-transition: background-color $animation-time;
    -webkit-transition: background-color $animation-time;
    -o-transition: background-color $animation-time;
    transition: background-color $animation-time;
    a {
      color: $fg-color;
      padding: 5px 10px 5px 10px;
    }
    a:hover {
      color: $anchor-light-color;
    }
  }
  li.active {
    color: $anchor-light-color;
    background-color: $anchor-color;
    a {
      color: $anchor-light-color !important;
    }
  }
  li.active:hover {
    a {
      color: $anchor-light-color;
    }
  }
  li:hover {
    color: $anchor-light-color;
    background-color: $anchor-color;
    -moz-transition: background-color $animation-time;
    -webkit-transition: background-color $animation-time;
    -o-transition: background-color $animation-time;
    transition: background-color $animation-time;
    a {
      color: $anchor-light-color;
    }
  }
}

.entel-item {
  @include panel;
  padding: 0;
  background-color: #F5F5F5;
  border-color: #E9E9E9;
  > header {
    //margin: 5px 0 5px 0;
    margin: 0;
    //padding: 5px 0 5px 0;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #E9E9E9;
    .entel-item-toggle {
      -moz-transition: color $animation-time;
      -webkit-transition: color $animation-time;
      -o-transition: color $animation-time;
      transition: color $animation-time;
    }
    .entel-item-toggle:hover {
      color: $anchor-color;
      cursor: pointer;
      -moz-transition: color $animation-time;
      -webkit-transition: color $animation-time;
      -o-transition: color $animation-time;
      transition: color $animation-time;
    }
  }
  .entel-item-content {
    padding: 10px;
    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 0;
      li {
        list-style: none;
      }
      li:before {
        content: '\00BB ';
      }
    }
    table {
      background: transparent;
    }
    table tr:nth-of-type(even) {
      background: #E9E9E9;
    }
  }
}

.entel-location {

}

#entel-location-control {
  margin-top: -10px;
}

.entel-table {
  width: 100%;
}

.entel-image {
  margin-bottom: $padding-large;
  color: darken($anchor-light-color, 50%);
  header {
    margin: 5px 0 5px 0;
    font-weight: bold;
    font-size: 10px;
  }
}

.entel-element-rating {
  color: $anchor-color;
}

.entel-padded {
  padding: $padding-medium !important;
}

table {
  border: 0;
  thead {
    background-color: transparent;
    border-bottom: 1px solid lighten($fg-color, 50%);
    th {
      color: $fg-color !important;
    }
  }
}

#app-content {
  padding: $padding-large;
}

#map-element {
  width: 100%;
  height: 300px;
}

section {
  margin-bottom: $padding-large + 30;
  > header {
    border-bottom: 1px solid lighten($fg-color, 20%);
    margin-bottom: $padding-large * 2;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 $padding-small * 2 0;
      li {
        list-style: none;
        display: inline-block;
        margin-right: $padding-small * 2;
        font-size: 12px;
        padding: 2px $padding-small 2px $padding-small;
        -moz-transition: background-color $animation-time;
        -webkit-transition: background-color $animation-time;
        -o-transition: background-color $animation-time;
        transition: background-color $animation-time;
      }
      li:last-child {
        margin-right: 0;
      }
      li:hover {
        background-color: $anchor-color;
        color: $anchor-light-color;
        cursor: pointer;
        -moz-transition: background-color $animation-time;
        -webkit-transition: background-color $animation-time;
        -o-transition: background-color $animation-time;
        transition: background-color $animation-time;
        a {
          color: $anchor-light-color;
        }
      }
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    .columns:first-child {
      padding-left: 0;
    }
    .columns:last-child {
      padding-right: 0;
    }
  }
}

#content {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

footer {
  width: 100%;
  background-color: $fg-color;
  position: relative;
  float: left;
  height: 40px;

  .entel-item-content {
    padding: $padding-large;
    font-size: $font-size - 30%;
    color: $anchor-light-color;
    a {
      padding-left: $padding-small;
      padding-right: $padding-small;
      -moz-transition: color $animation-time;
      -webkit-transition: color $animation-time;
      -o-transition: color $animation-time;
      transition: color $animation-time;
      color: $anchor-light-color;
    }
    a:hover {
      color: $anchor-color;
      -moz-transition: color $animation-time;
      -webkit-transition: color $animation-time;
      -o-transition: color $animation-time;
      transition: color $animation-time;
    }
  }
}

@media screen and (max-width: 640px) {
  section {
    .row {
      .columns {
        padding: 0;
      }
    }
  }
}
