@import "settings";

body {
  background: url(../img/admin/bg.jpg);
  background-size: cover;
}

.top-bar {
  box-shadow: 0 2px 5px lighten($fg-color, 3%);
}

#messages {
  margin: $padding-medium 0 $padding-medium 0;
  #flash-message {
    width: 30%;
    margin: 0 auto;
    float: none;
    .panel {
      margin: 0;
    }
  }
}

#app-content {
  width: 30%;
  margin: 0 auto;
  float: none;
}
#login-form {
  box-shadow: 0 2px 5px lighten($fg-color, 3%);

  #login-form-header {
    margin: 0;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: $fg-color;
    color: $bg-color;

    h3 {
      color: $bg-color;
      margin: 0;
    }
  }

  #login-form-content {
    background-color: $bg-color;
    padding: 20px;
    margin: 0;

    .button {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 800px) {
  #app-content {
    width: 80%;
  }
}
@media (max-width: 600px) {
  #app-content {
    width: 100%;
  }
}