/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
app/config/database.php
app/config/testing/database.php
public/img/**
*.pyc

node_modules
bower_components
.sass-cache
**/.DS_Store
